[Unit]
Description=GPS startup service ROS2
Wants=network-online.target systemd-udev-settle.service
After=network-online.target systemd-udev-settle.service

[Service]
Type=simple
User=gps-cluster-i
Group=dialout
SupplementaryGroups=tty
ExecStart=/bin/bash -lc '\
  ./start_gps.bash'
Restart=on-failure
RestartSec=1s
StandardOutput=journal
StandardError=journal
WorkingDirectory=/home/gps-cluster-i/gps_ws/

[Install]
WantedBy=multi-user.target
